#
#    ____ ___  _    _  _ ____ ___  _    _  _ ____ _ _ _
#   |___ |__] |    |  | | __ |__] |    |  | | __ | |\ |
#   |___ |    |___ |__| |__] |    |___ |__| |__] | | \|
#                   ᴠᴇʀsɪᴏɴ 1.2-sɴᴀᴘsʜᴏᴛ
#
# Configuration file. Done with ❤ by Notstaff.
# For support: https://discord.gg/WS89bmyuD9

# The prefix is updated every time the server
# is restarted or powered on and remember to read the /epicplugin:reload message.

prefix: "&f[&bEpicPlugin&f]" #Prefix that comes by default you can customize it without any problem.

############################################################
# +------------------------------------------------------+ #
# |                       PlayerJoinEvent                | #
# +------------------------------------------------------+ #
############################################################

Player-join:
  enabled: true # You CAN remove this altogether, by doing so it will default to TRUE

# Available placeholders
# {player_Name}

# Player input message
# This message is 100% configurable and is also supported by placeholderapi.
PlayerJoin: '&7[&a+&7] &fWelcome {player_Name}'

Player-quit:
  enabled: true # You CAN remove this altogether, by doing so it will default to TRUE

#Message when a player leaves the server
#This message can also be configured as the Join and has placeholderapi support.
PlayerLeave: '&7[&c-&7] &fGoodbye {player_Name}'

############################################################
# +------------------------------------------------------+ #
# |                      PvPCommand                      | #
# +------------------------------------------------------+ #
############################################################

# This is the cooldown of the /pvp on/off command,
# here you can modify the cooldown time to set the time you want.
pvp:
  cooldown_duration: 600 # The default time in seconds is 10 minutes.
  cooldown_checker_interval: 600 # Frequency of verification in seconds (10 minutes)

  ############################################################
  # +------------------------------------------------------+ #
  # |                      Cooldowns                       | #
  # +------------------------------------------------------+ #
  ############################################################

# In this category you will find the cooldown
# of the commands Heal, Repair and over time more will be added.

heal-cooldown: 600 # Reuse time in seconds (10 minutes by default)
repair-cooldown: 60 # Reuse time in seconds (default 1 minutes)


version: "1.0.2"
